.add-image-section {
    left: 55%;
    top: 66%;
    margin-left: -25%;
    position: absolute;
    margin-top: -25%;
    background-color: azure;
    width: 40%;
    height: 70%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.add-image-form button{
    background-color: #209CEE;
    color: white;
    border: 5px black;
    border-radius: 12px;
    width: 95px;
    height: 40px;
    align-self: center;
    box-shadow: rgb(0 0 0 / 15%) 1.95px 1.95px 2.6px;

    margin-top: 10px;
}

.new-image-form-input-aws{
    margin-left: 10px;
}
.new-image-form-input{
    border-radius: 5px;
    margin: 10px;
}

.add-img-preview{
    max-width: 40%;
    max-height: 100%;
    margin-left: 29%;
}


.add-image-form {
    left: 59%;
    top: 46%;
    margin-left: -47%;
    position: absolute;
    margin-top: -25%;
    display: flex;
    flex-direction: column;
    padding: 19px;
    border: 5px black;
    border-radius: 5px;
    background-color: white;
    width: 70%;
    height: 70%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#add-image-header{
    font-family: 'Work Sans', sans-serif;
    border: 4px black;
    color: #209CEE;
    margin-left: 42%;
    margin-top: 9%;
}
