.following__wrapper{
    border: 1px dotted black;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: auto;
    display: flex;
}

.following__allFollowing--gallery{
    /* border: 3px dotted red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 12px;
    max-width: 65vw;

}

.singleImg-div {
    /* border: 3px dotted black; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 40vh;
    width: 325px;
    margin: 12px;

}

