.userPage__wrapper{
    border: 1px solid black;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: auto;
}

.userPage__profilePic {
    border: 1px solid black;
    width: 40vw;
}

.userPage__profilePic img {
    border: 1px solid black;
    width: 40vw;
}

.userPage__follow {
    border: 1px solid black;

}

.userPage__profilePic--editButton {
    border: 3px solid green;

}

.userPage__info--wrapper {
    border: 2px dotted black;
}

.userPage__info {
    border: 1px dotted red;
}
